@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap");

body {
	margin: 0;
	font-family: "roboto";
}

.page-content {
	width: 1170px;
	margin: auto;
}

header {
	width: auto;
	height: auto;
}

.header-top-box {
	background-color: #7abcac;
	display: inline-block;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100%;
	margin-bottom: 0;
}

.header-bottom-box {
	text-align: center;
	border: 4px solid black;
	width: 580px;
	height: 190px;
	margin: 0 auto;
}

header p {
	font-weight: bold;
	text-transform: uppercase;
}

.name {
	font-size: 45px;
	margin-bottom: 25px;
}

.job-title {
	font-size: 25px;
	background-color: black;
	color: white;
	width: 250px;
	display: inline-block;
	padding: 0 20px;
	margin-top: -40px;
}

main {
	padding-top: 40px;
}

.title {
	text-transform: uppercase;
}

#section-division {
	height: 4px;
	width: 1170px;
	background-color: #dcdcdc;
	display: inline-block;
	margin-bottom: 15px;
	margin-top: -15px;
}

#section-division div {
	height: 12px;
	width: 90px;
	background-color: #7abcac;
	display: block;
	margin-top: -5px;
}

.about-me {
	margin-bottom: 80px;
	margin-left: 0;
	margin-right: 0;
}

.lorem {
	font-size: 16px;
	font-weight: 400;
}

.links ul {
	list-style-type: none;
}

.links ul li {
	display: block;
	margin-bottom: 10px;
}

.links ul li a {
	text-decoration: none;
	color: black;
	text-align: center;
}

img {
	margin-left: -40px;
	margin-right: 10px;
	vertical-align: middle;
}

.education-top-content p,
.education-bottom-content p {
	font-size: 16px;
	font-weight: 600;
}

.education-top-content {
	margin-top: 20px;
}

#education-division {
	height: 4px;
	width: 201px;
	background-color: #dcdcdc;
	display: inline-block;
	margin-bottom: 15px;
	margin-top: -15px;
}

.links,
.education {
	padding-bottom: 15px;
}

.education p {
	margin-top: -5px;
}

.personal-skills p,
.technical-skills p {
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 2px 10px 2px 10px;
}

.green {
	background-color: #7abcac;
	border-radius: 10px;
	width: fit-content;
	margin-bottom: 30px;
}

.yellow {
	background-color: #d8da79;
	border-radius: 10px;
	width: fit-content;
	margin-bottom: 30px;
}

.orange {
	background-color: #c29486;
	border-radius: 10px;
	width: fit-content;
	margin-bottom: 30px;
}

.work-experience {
	padding-bottom: 40px;
}

.work-experience-content-top {
	text-align: center;
	line-height: 10px;
	padding-bottom: 5px;
}

.work-experience-content-bottom {
	font-weight: 500;
	font-size: 16px;
}

.work-exp-job-title {
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
}

.all-work-experience-content {
	display: inline-flex;
}

.work-experience-content-bottom ul {
	padding-left: 20px;
}

.work-experience-content-bottom p {
	text-align: justify;
}

#work-experience-content {
	border-right: 3px solid #dcdcdc;
	height: 250px;
}

.footer {
	display: inline-flex;
	padding-bottom: 40px;
}

#address {
	margin-left: 30px;
}

#contact {
	margin-left: 120px;
}

#social {
	margin-left: 120px;
}

.footer-content {
	text-align: center;
	margin-left: 70px;
}

.footer-content a {
	text-decoration: none;
	color: black;
	text-align: center;
}

.footer-content a:active {
	color: #7abcac;
}

.footer-content a:focus {
	color: #7abcac;
}

.footer-content a:hover {
	color: #7abcac;
}

.address,
.contact,
.social {
	font-size: 25px;
	background-color: black;
	color: white;
	width: 250px;
	padding: 0 20px;
	text-transform: uppercase;
	text-align: center;
}

.address-city {
	margin: 0;
}

.address-street {
	margin-bottom: 0;
}
