body {
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    display: flex;
    align-items: flex-end;

    width: 200px;
    height: 200px;
    margin: 20px;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray; 
}

.box {
    width: 50px;
    height: 50px;
    background-color: green;   
}

.movement-1 {
    animation-name: movement-1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes movement-1 {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(150px);
	}
}

.movement-2 {
    animation-name: movement-2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes movement-2 {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translate(150px, -150px);
	}
}

.movement-3 {
    animation-name: movement-3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes movement-3 {
	0% {
		transform: translateX(0px);
	}
	50% {
		transform: translate(75px, -150px);
	}
    100% {
        transform: translate(150px, 0px);
    }
}

.movement-4 {
    animation-name: movement-4;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes movement-4 {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translate(0px, -150px);
	}
    50% {
        transform: translate(150px, -150px);
    }
    75% {
        transform: translate(150px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.movement-5 {
    animation-name: movement-5;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes movement-5 {
	0% {
		transform: translate(75px, 0px);
	}
	25% {
		transform: translate(0px, -75px);
	}
    50% {
        transform: translate(75px, -150px);
    }
    75% {
        transform: translate(150px, -75px);
    }
    100% {
        transform: translate(75px, 0px);
    }
}